[Unit]
Description=Restore iptables rules
Before=network-pre.target
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=/sbin/iptables-restore {{ iptables_save_file }}

[Install]
WantedBy=basic.target
